* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", "Roboto", sans-serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #e5ddff 0%, #b7a5f8 100%);
}
